.mini {
    width: 100%;
}
.mini a img {
    width: 44px;
    height: 44px;
    display: block;
    margin: 0px auto;
}
.mini a span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}
.mini a {
    flex-direction: column;
    text-align: center;
}
.mini {
    padding: 16px;
    width: calc(100%/10);
}
//large
//bgcolor
