.wrapper {
    background-color: #fff;
    margin: 24px 0px;
}

.tempRate {
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    .tempRate {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    img {
        width: 96px;
        height: 96px;
        margin: 0px auto;
    }
    p {
        color: #a2a2a2;
    }
}
.nonTempRate {
    width: 100%;
    padding: 24px;
    .title {
        font-size: 14px;
        font-weight: 700;
    }
    .title i {
        text-decoration: none;
        font-weight: normal;
    }
    .ovrRate {
        display: flex;
        align-items: center;
        margin: 24px 0px;
        font-size: 14px;
    }
    .ovrRate .total {
        max-width: 50%;
        padding-right: 24px;
    }
    .ovrRate .dis-rate {
        min-width: 50%;
        padding-left: 24px;
        border-left: 1px solid black;
    }
}
